/* GLOBAL RESET ---------------------------- */

body, div, dl, dt, dd, li, pre,
form, fieldset, input, textarea, p, blockquote, th, td, button {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

address, caption, cite, code, dfn, em, strong, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th {
    text-align: left;
    font-weight: normal;
    font-style: normal;
}

acronym, abbr, fieldset, img {
    border: 0;
}

:focus {
    outline: 0;
}

/* BASE STYLE ---------------------------- */

body {
    background: #FFFFFF url(../images/bg.gif) repeat-x 0 0;
    font: 90%/1.5em Arial, sans-serif;
    color: #555555;
}

p {
    margin-bottom: 1em;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

blockquote p {
    border-left: 4px solid #D3D4D4;
    padding: 5px 20px;
    margin: 10px 0 20px 21px;
    color: #777777;
}

a {
    color: #77ad3c;
    text-decoration: none;
    border-bottom: 1px solid #e6e6e6;
}

a:hover {
    color: #598726;
    border-bottom-color: #d3d4d4;
}

h2 {
    font: 165% Arial, sans-serif;
    color: #444444;
}

h3 {
    font: 125% Arial, sans-serif;
    color: #666666;
}

.hidden {
    display: none;
}

/* WRAPPER ---------------------------- */
.wrapper {
    width: 950px;
    margin: 0 auto;
    margin-bottom: 54px;
}
.wrapperSmall {
    width: 950px;
    margin: 0 auto;
}

/* HEADER ---------------------------- */
#header {
    width: 950px;
    height: 76px;
    margin: 0 auto;
    position: relative;
}

/* LOGO ---------------------------- */

#header a.logo {
    background: url(../images/logo-test.jpg) no-repeat 0 0;
    display: block;
    height: 56px;
    float: left;
    border: none;
    padding: 10px 70px 0px 5px;
}

#header	h1 {
    display: block;
    height: 56px;
    float: left;
    border: none;
    font: 30px Arial, sans-serif;
    color: #777;
    padding-top: 20px;
}

#header .alpha{
	color: red;
	font-size: 11px;
	font-weight: bold;
	margin-left: 2px;
}
/* TOP NAV ---------------------------- */

#topnav {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}

#topnav li {
    float: left;
    list-style: none;
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 0px;
    background: none;
    padding: 0;
}

#topnav li a {
    display: block;
    padding: 30px 12px 16px 12px;
    text-decoration: none;
    color: #777777;
    white-space: nowrap;
    border: none;
}

#topnav li a:hover {
    color: #333333;
}

#topnav li a.big {
    display: block;
    padding: 18px 12px 16px 12px;
    font: 30px Arial, sans-serif !important;
}

/* INTRO HEADER ---------------------------- */
#intro-text {
    margin-bottom: 30px;
    padding: 50px 0 0 0;
}

/* SERVICES LIST ---------------------------- */

.services-list {
    border-top: 1px solid #d3d4d4;
}

.services-list div {
    width: 276px;
    float: left;
    margin: 20px 0;
}

.services-list .services-left {
    border-right: 1px solid #d3d4d4;
    padding: 10px 30px 10px 0;
}

.services-list .services-center {
    padding: 10px 30px;
    border-right: 1px solid #d3d4d4;
}

.services-list .services-right {
    padding: 10px 0 10px 30px;
}

.services-list-last {
    border-bottom: 1px solid #d3d4d4;
}

/* SERVICES LIST FONT STYLES ---------------------------- */

.services-list h3 {
    margin: 0 0 10px 0;
}

.services-list h3 a {
    color: #666666;
    border: none;
}

.services-list h3 a:hover {
    color: #444444;
    border: none;
}

.services-list div p {
    color: #777777;
    font-size: 90%;
    margin-bottom: 0;
}

/* FOOTER ---------------------------- */

#footer {
    width: 100%;
    background: url(../images/footer-bg.gif) repeat-x 0 0;
    margin-top: -14px;
    float: left;
    padding: 10px 0;
    font-size: 90%;
    color: #888888;
}

.footer-left {
    float: left;
    margin: 0;
}

.footer-nav {
    float: right;
    text-align: right;
    margin-bottom: 0;
}

.footer-nav a {
    color: #888888;
    border-bottom: none;
    margin-left: 15px;
}

.footer-nav a:hover {
    color: #444444;
}

/* P.I.E. FLOAT CLEARING ---------------------------- */

.clearfix:after {
    content: ".";
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}

.clearfix {
    display: inline-block;
}

.clearfix {
    display: block;
}

