
.infoBubble div {
	display: none;
	font-size: 10px;
	color: white;
}

.infoBubble img { /*border-radius: 8px;*/
	height: 56px;
	width: 53px;
	margin-top: 0px;
	margin-left: 0px;
}

.infoBubble {
	height: 54px;
	width: 54px;
}

#map_canvas {
	height: 600px;
	width: 100%;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border : 1px solid white;
}

#map_canvas img, #map_canvas_form img{
	max-width: none;
}

#map_canvas label, #map_canvas_form label { 
  	width: auto; 
  	display:inline; 
}

#map_canvas_form{
	height: 380px;
	width: 100%;
	margin-bottom : 10px;
}

#detailInfoContainer {
	position: absolute;
	top: 56px;
	display: none;
	margin-top: 70px;
	margin-left : 75px;
}

#detailInfoContainer .close{
	background: url('../images/wash-white-90.png');
	margin-bottom: -20px;
	width: 20px;
}

#detailInfoContainer .thumbnail {
	background-color: white;
	-moz-box-shadow: 5px 5px 10px 1px #888;
	box-shadow: 5px 5px 10px 1px #888;
}
