.infoBubble {
	
}

.infoBubble div {
	display: none;
	font-size: 10px;
	color: white;
}

.infoBubble img { /*border-radius: 8px;*/
	height: 56px;
	width: 53px;
	margin-top: 0px;
	margin-left: 0px;
}

.infoBubble {
	height: 54px;
	width: 54px;
}

#map_canvas {
	height: 600px;
	width: 100%;
}

#map_canvas img, #map_canvas_form img{
	max-width: none;
	
}

#map_canvas label, #map_canvas_form label { 
  width: auto; 
  display:inline; 
}

#map_canvas_form{
	height: 380px;
	width: 940px;
	margin-bottom : 10px;
}

.sidebar {
	height: 10px;
	width: 200px;
	padding: 15px;
	padding-top: 5px;
	position: absolute;
	overflow: hidden;
	background-color: white;
	right: 7px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: 3px 3px 3px 3px #888;
	box-shadow: 3px 3px 3px 3px #888;
}

.chatPerdu{
	top: 120px;
}
.chatTrouve{
	top: 160px;
}



#detailInfoContainer {
	text-align: center;
	position: absolute;
	top: 56px;
	left: 0;
	width: 100%;
	display: none;
	padding-top: 200px;
	overflow: hidden;
}

#detailInfoContainerBackground {
	position: absolute;
	top: 56px;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
	background-color: gray;
	opacity: 0.5;
	filter: alpha(opacity = 50); /* For IE8 and earlier */
	overflow: hidden;
}

#detailInfo {
	text-align: left;
	margin: auto;
	padding: 20px;
	width: 400px;
	height: 200px;
	background-color: white;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: 3px 3px 3px 3px #888;
	box-shadow: 3px 3px 3px 3px #888;
}

#detailInfo div {
	float: left;
	margin-left: 10px;
}

#detailInfo h1 {
	font-weight: bold;
}

#detailInfoClose {
	position: relative;
	width: 20px;
	height: 20px;
	border: 0px;
	z-index: 101;
	cursor: pointer;
	right: 0px;
	top: 0px;
	float: right;
}