@(chat :Chat)
@import helper._
@main("Plan"){
<script type="text/javascript">
    window.onload = initialize("map_canvas_form");
</script>

<div class="container">
	<h2>Chat Perdu : @chat.getNom()</h2>
	<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tristique urna ut odio sodales elementum. Ut dignissim vestibulum egestas. In bibendum eleifend purus, ac luctus nisi iaculis et.</p>
	
	<div class="row">
		<div class="span6">	
			<fieldset>	
				<legend>Detail concernant @chat.getNom()</legend>
					<dl class="dl-horizontal">
						<dt>Nom</dt>
						<dd>@chat.getNom()</dd>
						<dt>Race</dt>
						<dd>@chat.getRace()</dd>
						<dt>Sexe</dt>
						<dd>@chat.getSexe()</dd>
						<dt>Couleur</dt>
						<dd>@chat.getCouleur()</dd>
						<dt>Age</dt>
						<dd>@chat.getAge()</dd>
						<dt>Tatouage</dt>
						<dd>@chat.getTatouage()</dd>
						<dt>Puce</dt>
						<dd>@chat.getPuce()</dd>
						<dt>Date de la disparition</dt>
					  <dd>@chat.getDateDisparition()</dd>
					</dl>
			</fieldset>
		</div>
		<div class="span6">	
			<fieldset>	
			<legend>Contacter le propriétaire</legend>
				<dl class="dl-horizontal">
				  <dt>Nom & Prénom</dt>
				  <dd>@chat.getProprietaireNomPrenom()</dd>
				  <dt>Email</dt>
				  <dd>@chat.getProprietaireEmail()</dd>
				  <dt>Téléphone</dt>
				  <dd>@chat.getProprietaireTelephone()</dd>
				  <dt>Adresse</dt>
				  <dd>@chat.getProprietaireAdresse()</dd>
				</dl>
			</fieldset>
		 </div>
	</div>
	<div id="map_canvas_form" class="map_form"></div>
</div>

}
