@()

@main("index") {
<div class="container">

    <div id="intro-text">
        <h2>Retrouvez l'ensemble de nos rubriques</h2>
    </div>


    <div class="row">
        <div class="span4">
            <h3>Plan</h4>
            Rendez vous sur
                <a title="Plan" href="@routes.PlanController.plan()">le plan</a>
             pour facilement identifier tous les chats perdus et les chats trouvés
        </div>

        <div class="span4">
            <h3>J'ai perdu mon chat</h3>
                Vous avez perdu votre chat ?<br/>
                Remplissez vite ce <a href="@routes.PlanController.plan()">formulaire</a> pour que les internautes puissent vous aider !
        </div>

        <div class="span4">
            <h3>J'ai trouvé un chat</h3>
                Vite ! <br/>
                <a href="@routes.PlanController.plan()">Signaler</a> le type de chat, et le lieu. Peut être aiderez-vous son propriétaire.
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <h3>Liens utiles</h3>

            <p>
                Comment contacter la SPA proche de chez vous ? Quels sont les bonnes adresses ?
                <a href="@routes.Application.links()">En savoir plus...</a>
            </p>
        </div>
        <div class="span4">
            <h3>L'application Android</h3>
                Lorem ispum <br/>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="span4">
            <h3>Contact</h3>
                Un soucis sur le site ou sur lapplication Android ?<br/>
                <a href="@routes.Application.contact()">Contactez-moi</a>
        </div>
    </div>

</div>
}