@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/map.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.js")" ></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" ></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/MyCat.js")" ></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/InfoBubble.js")" ></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnODw-2W4Rlrf3FAiBOF_qhsh5dm41jYo&sensor=true&language=fr" ></script>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
</head>

<body >
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container" >
				<a class="brand" href="@routes.PlanController.plan()">Chat perdu<span class="alpha">alpha</span></a>
				<ul class="nav pull-right">
		            <li @if(title == "plan") {class="active"}><a  href="@routes.PlanController.plan()">Plan</a></li>
		            <li @if(title == "links") {class="active"}><a  href="@routes.Application.links()">Liens</a></li>
		            <li @if(title == "contact") {class="active"}><a  href="@routes.Application.contact()">Contact</a></li>
		            <li @if(title == "index") {class="active"}><a  href="@routes.Application.index()">Index</a></li>
				</ul>
			</div>
		</div>
	</div> 

    @content


</body>
</html>
