@(cats:String)
@import helper._
@main("plan"){



<div class="container">
	<div class="row">
		<div class="span6 offset3" style="text-align: center;">	
			<a href="lostCat" class="btn btn-danger" style="width : 150px;">J'ai perdu mon chat</a>
			<a href="foundCat" class="btn btn-success" style="width : 150px;">J'ai trouvé un chat</a>
		</div>
	</div>
</div>

</br>

<div>
	<div id="map_canvas"></div>
</div>


<div id="detailInfoContainerBackground" ></div>
<div id="detailInfoContainer">
		<div id="detailInfo">
		<img onclick="closeDetailInfo();" id="detailInfoClose"   src="@routes.Assets.at("images/close.png")">
		<div>
			<img id="diImage" height="150px;" />
		</div>
		<div>
			<h1 id="diTitle"></h1>
			<label id="diName"></label><br/>
			<label id="diColor"></label><br/>
			<label id="diSize"></label><br/>
		</div>
		</div>
</div>

<script type="text/javascript">
    var cats = eval('@Html(cats)');
    window.onload = initializeAndAddCats("map_canvas");
</script>

}
